
<a [routerLink]="['']">
  <i class="fa fa-home fa-2x"></i>
</a>

<br>

<div class="row">
  <div class="col-md-4" *ngFor="let item of users">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nome: {{item?.nome}}</h5>
        <p class="card-text">Profissão: {{item?.profissao}}</p>
        <p class="card-text">Matrícula: {{item?.matricula}}</p>

        <!-- <button class="btn btn-danger" (click)="remover(item.id!)">Remover</button> -->
        <button class="btn btn-danger" >Remover</button>

      </div>
    </div>
  </div>
  <br>
</div>

<br>

<div class="col-lg-12" style="text-align: right;">
  <button class="btn btn-primary btn-block" (click)="rota()">Cadastrar um Funcionário</button>
</div>

<br>
